<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        <select name="start" id="start">
            {% for li in data%}
                {% for name in li %}
                    <option value="{{ name.1 }}">{{ name.1 }}</option>
                {% endfor %}
            {% endfor %}
        </select>


        <select name="destination" id="destination">
            {% for li in data%}
                {% for name in li %}
                    <option value="{{ name.1 }}">{{ name.1 }}</option>
                {% endfor %}
            {% endfor %}

        </select>
        <input type="submit" value="데이터집어넣기">
    </form>


</body>
</html>